
<!-- <div class="col-md-12 enter-music magic box"> -->


<div class="col-md-6 col-md-offset-3 righty box" id="songBox">

      <div>
        Song name: <input type="text" ng-model="newSong.title" />
      </div>

      <div>
        Artist: <input type="text" ng-model="newSong.artist" />
      </div>

      <div>
        Album Name: <input type="text" ng-model="newSong.album" />
      </div>

      <div>
        Album Year: <input type="text" ng-model="newSong.year" />
      </div>

      <div>
        Producer: <input type="text" ng-model="newSong.prod" />
      </div>

      <button ng-click="addSong()">Add Song</button>
      
</div>


<!-- <a href="href=#/songs/main" ng-click="list.addItem()">Add Item</a> -->

<!-- href="href=#/songs/main" -->
    






