
<!-- <div class="col-md-12 enter-music magic box"> -->


<div class="col-md-7 col-md-offset-2 righty box" id="songBox">

      <div>
        Song name: <input type="text" ng-model="newSong.title" />
      </div>

      <div>
        Artist: <input type="text" ng-model="newSong.artist" />
      </div>

      <div>
        Album Name: <input type="text" ng-model="newSong.album" />
      </div>

      <button ng-click="addSong()" ng-href="partials/main.html">Add Song</button>
      
</div>
    






