body {
	font-family: Oswald, Montserrat, sans-serif;
}

#flex-container {
	padding: 0;
	margin: 0;
	display: flex;
	-webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}

.flex-item {
	width: 100px;
}

.topbar {
	flex: 1 100%;
}

.topbar a {
	text-decoration: none;
}

.topbar {
	
	background-color: #FFB4B0;
	
	box-sizing: border-box;
}

.topbar ul, li {
	list-style-type: none;
	display: inline-block;
	
}

.topbar * {
	
}

.bord {
	border-right: 2px solid black;
}

.leftColumn{
	flex-grow: 4;
}

#rightColumn{
	flex-grow: 7;
}




.leftColumn {
	
	background-color: #4DD7FA;

	border: 3px solid black;

	box-sizing: border-box;
}

#rightColumn {
	
	background-color: #FEFAC0;
	
	border: 3px solid black;
	
	box-sizing: border-box;
}

.margBot {
	margin-bottom: 15px;
}

.center {
	margin: 0 auto;
}


.

.songs li {
	display: inline-block;
}









