<div>
	<label for="artist">Artist:</label>
</div>
<select class="select-artist margBot form-control">
	<option>-select-artist-</option>
	{{#each this}}
		<option>
			{{artist}}
		</option>
	{{/each}}
</select>


<div>
	<label for="album">Album:</label>
</div>
<select class="select-album margBot form-control">
	<option>-select-album-</option>
	{{#each this}}
		<option>
			{{album}}
		</option>
	{{/each}}
</select>