<!-- populates the right column -->
	<!-- 'this' here is referring to whatever object is being fed to this template. used to be each songs -->
	{{#each this}}
	<div>
		<h3>{{title}}</h3>
		by {{artist}} from the album {{album}}
		
		<button id="{{@key}}" class="clicky btn btn-default">delete</button>
	</div>

	{{/each}}



